.orderBox {
  border-radius: 17px;
  background: linear-gradient(145deg, #ffffff, #f3fff5);
  box-shadow: 6px 6px 12px #e8e8e8, -6px -6px 12px #ffffff;
  width: 100%;
}
.flex-item-btn {
  flex: 1 0 100px !important;
}

table {
  width: 100%;
  border-collapse: collapse;
  font-size: x-small !important;
}

th,
td {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}

th {
  background-color: var(--clr5);
}

.deleted {
  animation: op 1s forwards;
}
@keyframes op {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(0);
  }
}
