#porductBox {
  overflow-y: scroll;
}

.cart-div {
  position: absolute;
  background-color: rgba(205, 255, 205, 0.24);
  border: 2px solid var(--clr1);
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-size: smaller;
  display: flex;
  flex-direction: column;
  gap: 7px;
  border-radius: 10px;
  max-width: 150px;
  backdrop-filter: blur(3px);
  transition: all 0.5s;
  animation: scale 0.2s forwards;
  transform-origin: top right;
}
@keyframes scale {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.from-center {
  animation: scale 0.2s forwards;
}
